*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

:root {
  /* colors */
  --primary-500: #645cff;
  --primary-700: #3c3799;

  /* grey */
  --grey-50: #f8fafc;

  /* rest of the colors */
  --black: #222;
  --white: #fff;

  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow */

  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

body {
  background: var(--backgroundColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serifOxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-weight: 400;
  line-height: 1;
  color: var(--textColor);
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}

.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

.container {
  padding: 2rem;
  display: grid;
  row-gap: 1.5rem;
  height: 160px;
}

.color-form {
  display: flex;
}

input[type="text"] {
  border-color: transparent;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  max-width: 200p;
}

input[type="color"] {
  height: 100%;
  background-color: var(--white);
  border-color: transparent;
}

.container .btn {
  border-radius: 0;
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  letter-spacing: 3px;
  transition-duration: 0s;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    align-items: center;
  }

  .color-form {
    height: 40px;
  }
}

.colors {
  min-height: calc(100vh-160px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(223.33px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(96px, 1fr));
}

.color {
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1rem;
}

.color p {
  line-height: 1.5;
  margin-bottom: 0.25rem;
}

.color-light .color-value {
  color: var(--white);
}
.color-light .percent-value {
  color: var(--white);
}
